<div class="row">
    <div class="col-lg-8">

        <ngx-datatable class="data-table" [rows]="datosMostrar" [limit]="10" [columnMode]="'force'" [footerHeight]="40" [rowHeight]="'auto'" [headerHeight]="40">
            <ngx-datatable-column name="Estacion" prop="estacion"></ngx-datatable-column>
            <ngx-datatable-column name="Sentido" prop="sentido"></ngx-datatable-column>

            <ngx-datatable-column name="Hora" prop="hora"></ngx-datatable-column>

            <ngx-datatable-column name="Categoria" prop="categoria"></ngx-datatable-column>

            <ngx-datatable-column name="Valor Tabulado" prop="valorTabulado"></ngx-datatable-column>

            <ngx-datatable-column name="Fecha" prop="fecha"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>